.el-dialog {
  border-radius: 10px;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  &__header {
    padding: 10px;
    text-align: left;
    background-color: #3DAFFF;
  }
  &__body {
    padding: 25px 25px 70px 25px !important;
  }
  &__title {
    color: #fff;
  }
  &__headerbtn {
    top: 15px;
    right: 10px;
  }
  &__close {
    color: #fff !important;
  }
  &__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: right;
  }
}
